        body{
            background-image: url("img/bg.jpg");
            background-repeat: no-repeat;
            background-position-y: -20vh;
            background-size: cover;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #div_tong{
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box{
            height: auto;
            width: auto;
            background-color: rgba(240, 236, 229, 0.65);
            padding: 10px;
            border-radius: 25px;
            font-size: 28px;
        }

        .div_trong_form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        input[type="text"]:focus{
            outline: none;
        }
        input[type="text"],input[type="text"]::placeholder{
            border: none;
            border-radius: 15px;
            padding: 2px 5px;
            text-align: center;
            margin: 5px 10px 1px 10px;
        }
        button[type="submit"]{
            background-color: #04aa6d;
            border:none;
            cursor: pointer;
            border-radius: 15px;
            color: white;
            font-size: 10px;
            padding: 2px 10px;
        }
        button[type="submit"]:hover{
            background-color: #059862;
        }
        #loi_so{
            font-size: 8px;
            width: 80%;
            height: 15px;
            color: red;
            padding: 0px 10px;
        }
        #loi_so:empty{
            width: 100%;
            height: 15px;
        }
        #ket_qua{
            font-size: 14px;
        }