        body{
            margin: 0px;
        }
        #div_tong{
            height: 100vh;
            width: 100%;
            background-image: url(img/bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box{
            height: 93%;
            width: 40%;
            background-color: rgba(240, 236, 229, 0.85);
            border-radius: 15px;
            font-size: 14px;
            padding: 10px 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #div_tong > .box > .form_box > .tren{
            /* background-color: aqua; */
            height: 6vh;
            width: 100%;
            font-size: 29px;
            cursor: default;
        }
        #div_tong > .box  > .form_box > .giua{
            /* background-color: red; */
            height: 75vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #div_tong > .box > .form_box > .duoi{
            /* background-color: green; */
            height: 14vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
        }
        .chu_xanh{
            color: #04aa9c;
            font-weight: bold;
            cursor: default;
        }
        .tieu_de{
            font-size: 16px;
            font-weight: bold;
            font-family: Source Sans Pro;
            cursor: default;
            margin-top: 5px;
            color: #282a35;
        }
        input{
            padding: 14px;
            border-radius: 15px;
            outline: none;
            border:none;
            height: 18px;
            margin-top: 6px;
        }
        input:focus{
            outline: none;
            border: 1px rgba(240, 236, 229, 0.85) solid;
            outline: #1d9bf0 2px solid;
        }
        .red{
            color: red;
        }
        .loi{
            font-size: 11px;
            color: red;
        }
        .loi:empty{
            width: 100%;
            height: 13px;
        }
        button{
            background-color: #04aa6d;
            border:none;
            cursor: pointer;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            color: #ffffe8;
            font-family: Source Sans Pro,sans-serif;
            font-weight: 600px;
            font-size: 18px;
        }
        button:hover{
            background-color: #059862;
            border: 1px rgba(240, 236, 229, 0.75) solid;
            outline: 2px #04aa6d solid;
        }
        .tieu_de_flex{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            width: 11px;
            height: 11px;
        }
        .switch_text{
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
        }