
        html {
            height: -webkit-fill-available; /* We have to fix html height */
        }
        body{
            padding: 0px;
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #div_tong{
            width: 100%;
            height: 100vh;
            background-image: url('https://pbs.twimg.com/media/FcSptO5aQAAPk7E?format=jpg&name=large');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            /* align-items: flex-start; */
            justify-content: center;
            position: relative;
        }
        input[id="input_so"]{
            border-radius: 15px;
            border:none;
            /* border: 1px solid black; */
        }
        input[id="input_so"]{
            text-align: center;
            outline: none;
            background-color: #00b0fc;
            color: #ffffff;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 10px;
            text-align: center;
        }
        input[id="input_so"]::placeholder{
            text-align: center;
            color: #ffffff;
        }
        button[id="button_push"]{
            background-color: rgb(4,170,109);
            color: #f1faf5;
            border: none;
            cursor:pointer;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 15px;
            text-align: center;
            width: 150px;
        }
        button[id="button_push"]:hover{
            background-color: rgb(5,152,98);
        }
        #div_tong > .div_ul> ul{
            margin-top: 50px;
            list-style: none;
            padding: 0px;
            width: 60%;
            display: flex;
            justify-content: center;
        }
        ul{
            padding-inline-start: 0px;
        }
        ul > li{
            width: 550px;
            display: flex;
            justify-content: center;
            
        }
        #div_tong > form > .div_ul> ul > li > .output{
            background-color: rgb(255, 255, 255,0.8);
            border-radius: 15px;
            display: none;
            width: 120%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
         #circle{
            background-color: white;
            height: 250px;
            width: 250px;
            border-radius: 50%;
            position: absolute;
            bottom: 3vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            /* Text shadow moi di copy tren mang ve chu em chang hieu cai text shadow nay =)) */
            text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
            display: none;
        }